<!-- <div *ngIf="!isLoggedIn">
    <app-login *ngIf="showLogin" (loginSuccess)="onLoginSuccess()"></app-login>
    <app-register *ngIf="showRegister" (registerSuccess)="onRegisterSuccess()"></app-register>

    <div style="margin-top: 10px;">
        <button *ngIf="showLogin" (click)="showRegisterForm()">לא רשום? לחץ להרשמה</button>
        <button *ngIf="showRegister" (click)="showLoginForm()">כבר רשום? לחץ לכניסה</button>
    </div>
</div>

<div *ngIf="isLoggedIn">
    <app-chart></app-chart>
</div> -->