.schedule-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    top:150px
  }
  
  .doctor-selection {
    margin-bottom: 20px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
  }
  
  .schedule-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .schedule-table th {
    background-color: #f4f4f4;
  }
  
  button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .turn-details {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .turn-actions {
    margin-top: 10px;
  }
  